@model OnlineShop2022.Models.ProductModel
@{
}

<h1>Delete</h1>

<form method="post" asp-action="Delete">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Product: @Model.Id</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Model.Description £@Model.Price</h6>
            <button type="submit" class="btn btn-danger">Delete?</button>
            <a asp-controller="Product" asp-action="Index" class="btn btn-secondary">Go Back</a>
        </div>
    </div>
</form>

