@model OrderModel

<div class="row">
    <div class="m-4">
        <h1>Enter your delivery details</h1>
        <form asp-action="Checkout" method="post" class="form-horizontal" role="form">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="LastName" class="col-md-2 control-label"></label>
                <div class="col-md">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="FirstName" class="col-md-2 control-label"></label>
                <div class="col-md">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="AddressLine1" class="col-md-2 control-label"></label>
                <div class="col-md">
                    <input asp-for="AddressLine1" class="form-control" />
                    <span asp-validation-for="AddressLine1" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="AddressLine2" class="col-md-2 control-label"></label>
                <div class="col-md">
                    <input asp-for="AddressLine2" class="form-control" />
                    <span asp-validation-for="AddressLine2" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Postcode" class="col-md-2 control-label"></label>
                <div class="col-md">
                    <input asp-for="Postcode" class="form-control" />
                    <span asp-validation-for="Postcode" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="City" class="col-md-2 control-label"></label>
                <div class="col-md">
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group">
                <label asp-for="Country" class="col-md-2 control-label"></label>
                <div class="col-md">
                    <input asp-for="Country" class="form-control" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                  <div class="col-md">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md w-100 mt-4">
                    <button type="submit" class="btn btn-primary"> Proceed to Payment</button>
                </div>
            </div>


        </form>
    </div>
</div>
