@using OnlineShop2022.Models;
@using Microsoft.AspNetCore.Identity

@inject SignInManager<CustomUserModel> SignInManager
@inject UserManager<CustomUserModel> UserManager
@inject RoleManager<IdentityRole> RoleManager

@{
    CustomUserModel currentUser;
}
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>

            @{
                currentUser = await UserManager.FindByEmailAsync(User.Identity.Name);

                if (await UserManager.IsInRoleAsync(currentUser, "Manager"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index">Products</a>
                    </li>
                    if (await UserManager.IsInRoleAsync(currentUser, "Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="RolesManager" asp-action="Index">Roles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="UserRoles" asp-action="Index">Users</a>
                        </li>
                    }
                }
            }



        </ul>
        <li class="nav-item">
            <a id="manage" class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @currentUser.Fname !</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
